@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Readex+Pro:wght@400;500;600;700;800&display=swap");

/* BASIC RESET CSS  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  backface-visibility: hidden;
}
ul,
ol {
  list-style: none;
}

:root {
  --montserrat: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  --readexpro: "Readex Pro", Verdana, Geneva, Tahoma, sans-serif;
}

/* SECTION COMMON  */
section {
  padding-bottom: 50px;
}

.section-heading {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: min(130px, 15vw);

  color: #6320ee;
  height: 1.5em;
  opacity: 0;
  align-self: flex-start;

  transition: 0.42s ease-in-out;
  text-transform: uppercase;
}

.section-heading.show {
  opacity: 1;
}

/* NAV  */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;

  padding: 20px;
  z-index: 3;

  width: 100%;
  transition: 0.2s ease-in-out;
}

.navigation-name {
  font-family: var(--readexpro);
  font-weight: 500;
  font-size: min(35px, 7vw);

  color: #6320ee;
  cursor: pointer;

  transition: 0.42s ease-in-out;
}

.navigation-options {
  display: flex;
  align-items: flex-end;
  font-family: var(--montserrat);
  font-weight: 600;
  color: #232020;

  gap: 30px;
  font-size: 23px;
}

.navigation-option {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.navigation-option:hover {
  color: #6320ee;
}
.navigation-option.current {
  color: #6320ee;
}

.burger-button {
  cursor: pointer;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  background: none;
  border: none;

  display: none;
  width: 50px;
  height: 50%;

  transition: 0.42s ease-in-out;
}

.burger-line {
  width: 40px;
  background-color: #6320ee;
  height: 4px;

  transition: 0.42s ease-in-out;
}

.burger-button > div:nth-child(1).show {
  transform: rotate(45deg) translate(10%, 10px);
}

.burger-button > div:nth-child(2).show {
  transform: translateX(-40px);
  opacity: 0;
}

.burger-button > div:nth-child(3).show {
  transform: rotate(-45deg) translate(10%, -10px);
}

header.sticky {
  position: fixed;
  background-color: inherit;
}

header.sticky::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 100vw;
  height: 3px;

  transform: scaleX(0);
  background-color: #6320ee;

  animation: expand-x-center 0.5s ease-in-out forwards;
}

header.sticky + #home {
  margin-top: 84px;
}

/* HOME  */
#home {
  width: 80%;
  display: grid;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-row-gap: 50px;
  padding-top: 100px;
  padding-bottom: 0;
}

.home-heading {
  font-family: var(--readexpro);
  font-style: normal;
  font-weight: 500;
  font-size: min(70px, 14vw);
  text-align: center;

  color: #6320ee;
  grid-column: 1/8;
  grid-row: 1/2;

  align-self: end;
  opacity: 0;
  transition: 0.42s ease-in-out;
}

.home-heading.active {
  opacity: 1;
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 45px;

  font-family: var(--montserrat);
  font-style: normal;
  font-weight: 400;
  font-size: min(30px, 6.5vw);

  grid-column: 1/4;
  grid-row: 2/4;
  text-align: right;

  opacity: 0;
  align-self: center;

  transition: 0.42s ease-in-out;
}

.home-info.active {
  opacity: 1;
}

.profile-pic {
  display: block;
  grid-column: 5/8;
  grid-row: 2/4;
  height: 400px;
  width: 400px;

  border-radius: 50%;
  border: 5px solid #6320ee;

  background-color: #fdfffc;

  opacity: 0;
  align-self: center;
  transition: 0.42s ease-in-out;
}

.profile-pic.active {
  opacity: 1;
}
/* SKILLS  */
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  width: 80%;

  padding-top: 100px;
}

.skills-info {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  gap: 30px;
}

.skill-div {
  padding: 30px;
  font-family: var(--montserrat);
  color: #fdfffc;

  position: relative;
  background-color: #c4c4c4;
  border-radius: 50px;

  width: min(800px, 90%);
  height: 60px;
  font-size: 25px;
  font-weight: 600;

  overflow: hidden;
  z-index: 2;
}

.skill-name {
  position: absolute;
  top: 25%;
  z-index: 1;
}

.skill-bar {
  position: absolute;

  left: 0;
  top: 0;
  background-color: #6320ee;

  height: 100%;
  padding-left: 50px;

  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: left;

  z-index: 0 !important;
}

.skill-bar.show {
  animation: expand-x-left 1s ease-in-out forwards;
}

/* HOBBIES  */
#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  width: 80%;

  padding-top: 100px;

  font-family: var(--montserrat);
  font-size: 25px;
  color: #6320ee;
  font-weight: 600;
}

.hobbies-info {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  gap: 20px;
  width: 80%;
}

.hobby-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 250px;
  width: 200px;
  box-shadow: 0 0 10px 0 #c4c4c4;

  opacity: 0;
  transform: translateY(-50px);

  border-radius: 20px;
  gap: 25px;

  transition: 0.42s ease-in-out;
}

.hobby-card.show {
  opacity: 1;
  transform: translateY(0);
}

.hobby-card:hover {
  color: #fdfffc;
}

.hobby-card:hover .hobby-image > svg {
  fill: #fdfffc !important;
}

.hobby-card:hover .hobby-bg-div {
  transform: scale(1);
  transform-origin: center;
}

.hobby-image {
  display: block;
  width: 50%;
  height: auto;
}

.hobby-bg-div {
  background-color: #6320ee;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  z-index: -1;

  transform: scale(0);
  transform-origin: center;
  transition: 0.42s ease-in-out;
}

/* BODY  */
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #fdfffc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
html {
  padding: 0;
  margin: 0;

  width: 100%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

/* ANIMATIONS  */
@keyframes expand-x-center {
  to {
    transform: scaleX(1);
    transform-origin: center;
  }
}

@keyframes expand-x-left {
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* MEDIA QUERIES  */
@media screen and (max-width: 960px) {
  /* HOME  */
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .home-heading {
    align-self: center;
  }

  .profile-pic {
    grid-column: 1/8;
    grid-row: 2/3;
    justify-self: center;
  }

  .home-info {
    grid-column: 1/8;
    grid-row: auto;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  /* NAV  */
  header {
    justify-content: space-between;
    gap: 0;
    padding: 15px 30px;
  }
  nav {
    position: fixed;
    height: 100%;
    width: 100vw;
    left: 0;
    top: -100%;
    transition: 0.42s ease-in-out;
    z-index: 1;
  }
  nav.show {
    top: 0;
    background-color: #fdfffc;
  }
  .burger-button {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  .navigation-options {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  /* HOME  */
  #home {
    gap: 45px;
  }
  .profile-pic {
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 414px) {
  /* SKILLS */
  .skills-info {
    gap: 15px;
  }
  .skill-div {
    padding: 15px 20px;
    height: 40px;
  }
  .skill-name {
    font-size: 20px;
  }

  /* HOBBIES  */
  .hobbies-info {
    font-size: 20px;
  }
}
